<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>传承人</title>
    <link rel="stylesheet" href="../assets/css/inheritor.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
  </head>
  <body>
    <div class="content">
      <img src="../assets/img/inheritor/in.png" />
      <img
        class="right-arr"
        src="../assets/img/inheritor/inheritor.png"
        alt=""
      />
      <img src="../assets/img/inheritor/text.png" alt="" />
    </div>
    <video
      class="video"
      controls
      poster="../assets/img/inheritor/bg.png"
      src="../assets/video/inheritor.mp4"
    ></video>
    <div class="back-btn">
      <img src="../assets/img/inheritor/backbtn.png" alt="" />
    </div>
  </body>
  <script src="../js/inheritor.js"></script>
</html>
