<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>传承人</title>
    <link rel="stylesheet" href="../assets/css/inheritor-detail.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
  </head>
  <body>
    <div class="overlay"></div>
    <div class="top-bar"></div>
    <div class="bottom-bar"></div>
    <div class="mask"></div>
    <div class="logo">
      <img src="../assets/img/historical/logo.png" alt="" />
    </div>
    <div class="slide">
      <img src="../assets/img/historical/slide.png" alt="" />
    </div>

    <div class="content">
      <div class="back-btn">
        <img src="../assets/img/inheritor/backbtn.png" alt="" />
      </div>
      <div class="first">
        <img src="../assets/img/inheritor-detial/inherit.png" alt="" />
        <img src="../assets/img/inheritor-detial/umbrella-top.png" alt="" />
        <div class="cloud">
          <img src="../assets/img/inheritor-detial/clould1.png" alt="" />
          <img src="../assets/img/inheritor-detial/clould2.png" alt="" />
          <img src="../assets/img/inheritor-detial/clould3.png" alt="" />
          <img src="../assets/img/inheritor-detial/clould4.png" alt="" />
        </div>
      </div>
      <div class="second">
        <div class="second-text">
          <img src="../assets/img/inheritor-detial/title-small.png" alt="" />
          <img src="../assets/img/inheritor-detial/title-big.png" alt="" />
        </div>
        <div class="second-img">
          <div class="first-two">
            <img src="../assets/img/inheritor-detial/bg1.png" alt="" />
            <img src="../assets/img/inheritor-detial/bg2.png" alt="" />
          </div>
          <img
            class="third-one"
            src="../assets/img/inheritor-detial/bg3.png"
            alt=""
          />
        </div>
      </div>
      <div class="third">
        <img
          class="bottom-title"
          src="../assets/img/inheritor-detial/inherit-bottom.png"
        />
        <img class="line" src="../assets/img/inheritor-detial/br.png" alt="" />
        <div class="text-wrap">
          <div></div>
          <img src="../assets/img/inheritor-detial/text.png" alt="" />
        </div>
        <img
          class="right-arr"
          src="../assets/img/inheritor-detial/rightarr.png"
          alt=""
        />
        <img
          class="inheritor-lbf"
          src="../assets/img/inheritor-detial/毕六福.png"
          alt=""
        />
        <img src="../assets/img/inheritor-detial/title-bottom.png" alt="" />
      </div>

      <div class="footer">
        <img class="ub" src="../assets/img/technique/ub.png" alt="" />
        <img class="fc1" src="../assets/img/technique/组 351.png" alt="" />
        <img class="fc2" src="../assets/img/technique/组 363.png" alt="" />
        <img class="fc3" src="../assets/img/technique/组 364.png" alt="" />
        <img class="fc4" src="../assets/img/technique/组 352.png" alt="" />
      </div>
    </div>
  </body>
  <script src="../js/Navigate.js"></script>
  <script src="../js/inheritor-detail.js"></script>
</html>
