.content {
  width: 100vw;
  height: 475vh;
  background-color: #1e1c1d;
  -ms-overflow-style: none;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.back-btn {
  position: fixed;
  top: 2vh;
  left: 1vw;
  z-index: 997;
  cursor: pointer;
}

.first {
  height: 100vh;
}

.first img {
  position: absolute;
  top: 0;
  left: 24vw;
}

.first img:nth-child(1) {
  width: 50vw;
  z-index: 99;
}

.first img:nth-child(2) {
  width: 52vw;
  z-index: 77;
  top: -5vh;
}

.first .cloud img:nth-child(1) {
  width: 50vw;
  top: 16vw;
  left: 47vw;
  z-index: 88;
  animation: cloudMoveRight 5s infinite alternate;
}

.first .cloud img:nth-child(2) {
  width: 50vw;
  top: 26vw;
  left: 9vw;
  z-index: 88;
  animation: cloudMoveLeft 5s infinite alternate;
}

.first .cloud img:nth-child(3) {
  width: 50vw;
  top: 3vw;
  left: 9vw;
  z-index: 66;
  animation: cloudMoveRight 5s infinite alternate;
}

.first .cloud img:nth-child(4) {
  width: 50vw;
  top: 10vw;
  left: 39vw;
  z-index: 66;
  animation: cloudMoveLeft 5s infinite alternate;
}
.second {
  overflow: hidden;
  height: 224.5vh;
}

.second .second-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.second-text img:nth-child(1) {
  width: 100%;
}
.second-text img:nth-child(2) {
  width: 90%;
  position: absolute;
  top: 8vh;
}

.second-img {
  width: 95%;
  margin: 0 auto;
}
.first-two {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.first-two img {
  width: 50vw;
  margin-left: 7px;
  margin-right: 7px;
}

.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.third img {
  margin-bottom: 50px;
}

.third img:nth-child(1) {
  width: 20vw;
}
.third img:nth-child(2) {
  width: 70vw;
}

/* 文字渐显 */
.text-wrap {
  position: relative;
  overflow: hidden;
  height: 30vh;
}

.third .text-wrap img {
  width: 90vw;
}
.text-wrap img {
  width: 90vw;
}

.mask-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20vh;
  left: 0;
  background-color: #1e1c1d;
  animation: moveText 4s ease;
}

@keyframes moveText {
  to {
    top: 30vh;
  }
  from {
    top: 0vh;
  }
}
/*  */

.third img:nth-child(4) {
  width: 10vw;
  margin-top: 5vw;
}

.third img:nth-child(5) {
  width: 35vw;
}

.footer {
  height: 20vw;
  overflow: hidden;
}

.ub {
  width: 50vw;
  left: 25vw;
  bottom: 2vw;
  position: relative;
  animation: umbrellaRotate 20s infinite 2s;
}

.fc1 {
  width: 45vw;
  position: relative;
  left: -57vw;
  bottom: 16vw;
  animation: cloudMoveLeft 5s infinite alternate;
}

.fc2 {
  width: 45vw;
  left: 1vw;
  bottom: 54.6vw;
  position: relative;
  animation: cloudMoveRight 5s infinite alternate;
}

.fc3 {
  position: relative;
  width: 45vw;
  left: -1vw;
  bottom: 52vw;
  z-index: 9;
  animation: cloudMoveLeft 6s infinite alternate;
}

.fc4 {
  width: 48vw;
  bottom: 95vw;
  left: 58vw;
  position: relative;
  animation: cloudMoveRight 5s infinite alternate;
}

@keyframes cloudMoveLeft {
  0% {
    transform: translate(-0.3vw, -0.3vw);
  }
  50% {
    transform: translate(0.3vw, 0.3vw);
  }
  100% {
    transform: translate(-0.3vw, -0.3vw);
  }
}

@keyframes cloudMoveRight {
  0% {
    transform: translate(0.3vw, 0.3vw);
  }
  50% {
    transform: translate(-0.3vw, -0.3vw);
  }
  100% {
    transform: translate(0.3vw, 0.3vw);
  }
}

@keyframes umbrellaRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.line {
  position: relative;
  width: 100%;
  height: 4px;
  left: 0;
  background-color: white;
  transition: all 1s ease;
}
.bottom-title:hover + .line {
  animation: flowing-line 2s infinite;
}

@keyframes flowing-line {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.right-arr {
  cursor: pointer;
  opacity: 0;
  border-radius: 5vw;
  animation: rightArr 3s infinite, animated-border 3s infinite;
}
@keyframes rightArr {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    transform: translateY(-10px);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
    transform: translateY(0px);
  }
}
