<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>目录</title>
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/directory.css" />
  </head>
  <body>
    <div class="overlay"></div>
    <div class="main">
      <img class="base-bg" src="../assets/img/directory/base_bg.png" />
      <div class="back-umbrella">
        <img src="../assets/img/directory/umbrella.png" />
      </div>
      <div class="directory">
        <img src="../assets/img/directory/skill.png" />
        <img src="../assets/img/directory/history.png" />
        <img src="../assets/img/directory/inherit.png" />
        <img src="../assets/img/directory/art.png" />
      </div>

      <div class="eyes">
        <img
          class="eyes-inner"
          src="../assets/img/directory/inner_ring.png"
          alt=""
        />
      </div>
    </div>
  </body>
  <script src="../js/directory.js"></script>
</html>
