<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>目录</title>
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/directory.css" />
  </head>
  <body>
    <div class="overlay"></div>
    <div class="main">
      <img class="base-bg" src="../assets/img/directory/base_bg.png" />
      <div class="back-umbrella">
        <img src="../assets/img/directory/umbrella.png" />
      </div>
      <div class="directory">
        <div>
          <img class="fail-img" src="../assets/img/directory/skill.png" />
          <img class="light" src="../assets/img/directory/制作技艺.png" />
          <span></span>
        </div>
        <div>
          <img src="../assets/img/directory/history.png" />
          <img class="light" src="../assets/img/directory/历史沿革.png" />
          <span></span>
        </div>
        <div>
          <img src="../assets/img/directory/inherit.png" />
          <img class="light" src="../assets/img/directory/非遗传承.png" />
          <span></span>
        </div>
        <div>
          <img src="../assets/img/directory/inherit.png" />
          <img class="light" src="../assets/img/directory/艺术体现.png" />
          <span></span>
        </div>
      </div>

      <div class="button-cloud">
        <img src="../assets/img/home/cloud_1.png" alt="" />
        <img src="../assets/img/home/cloud_2.png" alt="" />
        <img src="../assets/img/home/cloud_3.png" alt="" />
        <img src="../assets/img/home/cloud_4.png" alt="" />
        <img src="../assets/img/home/umbrella_3.png" alt="" />
      </div>

      <div class="eyes">
        <img class="eyes-inner" src="../assets/img/directory/eye.png" alt="" />
      </div>
    </div>
  </body>
  <script src="../js/directory.js"></script>
</html>
