<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>艺术体现</title>
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/expression.css" />
    <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="title" src="../assets/img/expression/路径 232.png" />
          <img class="Eng" src="../assets/img/expression/路径 233.png" alt="" />
          <img class="down" src="../assets/img/expression/减去 311.png" />
          <img class="round1" src="../assets/img/expression/联合 855.png" />
          <img class="round2" src="../assets/img/expression/联合 854.png" />
          <img class="round3" src="../assets/img/expression/联合 852.png" />
          <img class="dot1" src="../assets/img/expression/组 386.png" alt="" />
          <img class="dot2" src="../assets/img/expression/组 386.png" alt="" />
          <img class="dot3" src="../assets/img/expression/组 386.png" alt="" />
          <img class="dot4" src="../assets/img/expression/组 386.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="cp1" src="../assets/img/expression/组 493.png" alt="" />
          <p class="content">
            油纸伞上的绘画艺术是对中国传统文化的一种传承和弘扬。这种艺术形式历经千年，依然保持着其独特的魅力和活力，正是因为它承载了中华民族深厚的文化底蕴。在绘制油纸伞的过程中，艺术家们会运用各种传统绘画技法，如工笔、写意等，将中国传统文化中的元素和符号融入其中，如山水、花鸟、人物等，使得每一件作品都充满了浓郁的中国风味。
          </p>
          <img class="cp2" src="../assets/img/expression/组 505.png" alt="" />
          <img class="xh" src="../assets/img/expression/联合 920.png" alt="" />
          <img class="r1" src="../assets/img/expression/联合 854.png" alt="" />
          <img class="r2" src="../assets/img/expression/联合 854.png" alt="" />
          <img class="r3" src="../assets/img/expression/联合 854.png" alt="" />
        </div>
        <div class="swiper-slide">
          <img class="umbrella" src="../assets/img/expression/伞.png" alt="" />
          <img class="c1" src="../assets/img/expression/联合 854.png" alt="" />
          <img class="c2" src="../assets/img/expression/联合 854.png" alt="" />
          <img class="c3" src="../assets/img/expression/联合 854.png" alt="" />
          <p class="tip">点击漂浮光点制作油纸伞</p>
          <img
            data-src="../assets/img/expression/orchid.png"
            onclick="changeUmbrella('../assets/img/expression/兰花卷2.png');select(this)"
            class="d1 image-item"
            src="../assets/img/expression/组 386.png"
          />
          <img
            data-src="../assets/img/expression/luzhou.png"
            onclick="changeUmbrella('../assets/img/expression/泸州卷.png');select(this)"
            class="d2 image-item"
            src="../assets/img/expression/组 386.png"
          />
          <img
            data-src="../assets/img/expression/jh.png"
            onclick="changeUmbrella('../assets/img/expression/人文.png');select(this)"
            class="d3 image-item"
            src="../assets/img/expression/组 386.png"
          />
          <img
            data-src="../assets/img/expression/bird.png"
            onclick="changeUmbrella('../assets/img/expression/鸟卷2.png');select(this)"
            class="d4 image-item"
            src="../assets/img/expression/组 386.png"
          />
          <img
            data-src="../assets/img/expression/flower.png"
            onclick="changeUmbrella('../assets/img/expression/梅花卷2.png');select(this)"
            class="d5 image-item"
            src="../assets/img/expression/组 386.png"
          />
        </div>
      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </body>
  <script src="../js/swiper-bundle.min.js"></script>
  <script src="../js/expression.js"></script>
</html>
