<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>艺术体现</title>
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/expression.css" />
    <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css" />
  </head>
  <body>
    <div class="overlay"></div>
    <div class="top-bar"></div>
    <div class="bottom-bar"></div>
    <div class="mask"></div>
    <div class="back-umbrella">
      <img src="../assets/img/directory/umbrella.png" />
    </div>
    <div class="logo">
      <img src="../assets/img/historical/logo.png" alt="" />
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="title" src="../assets/img/expression/路径 232.png" />
          <img class="Eng" src="../assets/img/expression/路径 233.png" alt="" />
          <img class="down" src="../assets/img/expression/减去 311.png" />
          <img class="round1" src="../assets/img/expression/联合 855.png" />
          <img class="round2" src="../assets/img/expression/联合 854.png" />
          <img class="round3" src="../assets/img/expression/联合 852.png" />
          <img class="dot1" src="../assets/img/expression/组 386.png" alt="" />
          <img class="dot2" src="../assets/img/expression/组 386.png" alt="" />
          <img class="dot3" src="../assets/img/expression/组 386.png" alt="" />
          <img class="dot4" src="../assets/img/expression/组 386.png" alt="" />
        </div>

        <div class="swiper-slide">
          <div class="father">
            <div>
              <img class="l1" src="../assets/img/expression/路径 238.png" />
              <div class="zi">
                <p>
                  油纸伞上的绘画艺术是对中国传统文化的一种传承和弘扬。这种艺术形式历
                  经千年，依然保持着其独特的魅力和活力，正是因为它承载了中华民族深厚的文化
                  底蕴。在绘制油纸伞的过程中，艺术家们会运用各种传统绘画技法，如工笔、
                  写意等，将中国传统文化中的元素和符号融入其中，如山水、花鸟、人物等，使
                  得每一件作品都充满了浓郁的中国风味。
                </p>
                <p>
                  在泸州油纸伞的匠心制作中，艺术家们常常在伞面上施展才华，选择不同的艺术形式来作画。
                  无论是寓意吉祥的龙凤纹样，还是富有诗意的山水意象，都展现了油纸伞独特的艺术魅力，
                  让每一把伞都成为了一件精美的艺术品。
                </p>
              </div>
            </div>
            <div>
              <img class="tu" src="../assets/img/expression/组 596.png" />
              <img class="tu" src="../assets/img/expression/组 597.png" />
              <img class="tu" src="../assets/img/expression/组 598.png" />
            </div>
          </div>
          <div class="xw">
            <img src="../assets/img/expression/路径 383.png" alt="" />
            <img class="wen" src="../assets/img/expression/组 516.png" />
            <img class="wen" src="../assets/img/expression/组 595.png" />
            <img class="wen" src="../assets/img/expression/组 521.png" />
            <img class="wen" src="../assets/img/expression/组 520.png" />
            <img class="wen" src="../assets/img/expression/组 522.png" />
            <img class="wen" src="../assets/img/expression/组 523.png" />
            <img class="wen" src="../assets/img/expression/组 594.png" />
            <img class="wen" src="../assets/img/expression/组 518.png" />
          </div>

          <img class="xh" src="../assets/img/expression/联合 920.png" alt="" />
          <div class="rf">
            <img class="r1" src="../assets/img/expression/联合 854.png" />
            <img class="r2" src="../assets/img/expression/联合 854.png" />
            <img class="r3" src="../assets/img/expression/联合 854.png" />
          </div>
        </div>

        <div class="swiper-slide">
          <img class="umbrella" src="../assets/img/expression/伞.png" alt="" />
          <img class="c1" src="../assets/img/expression/联合 854.png" alt="" />
          <img class="c2" src="../assets/img/expression/联合 854.png" alt="" />
          <img class="c3" src="../assets/img/expression/联合 854.png" alt="" />
          <p class="tip">点击漂浮光点制作油纸伞</p>
          <img
            data-src="../assets/img/expression/orchid.png"
            onclick="changeUmbrella('../assets/img/expression/兰花卷2.png');select(this)"
            class="d1 image-item"
            src="../assets/img/expression/组 386.png"
          />
          <img
            data-src="../assets/img/expression/luzhou.png"
            onclick="changeUmbrella('../assets/img/expression/泸州卷.png');select(this)"
            class="d2 image-item"
            src="../assets/img/expression/组 386.png"
          />
          <img
            data-src="../assets/img/expression/jh.png"
            onclick="changeUmbrella('../assets/img/expression/人文.png');select(this)"
            class="d3 image-item"
            src="../assets/img/expression/组 386.png"
          />
          <img
            data-src="../assets/img/expression/bird.png"
            onclick="changeUmbrella('../assets/img/expression/鸟卷2.png');select(this)"
            class="d4 image-item"
            src="../assets/img/expression/组 386.png"
          />
          <img
            data-src="../assets/img/expression/flower.png"
            onclick="changeUmbrella('../assets/img/expression/梅花卷2.png');select(this)"
            class="d5 image-item"
            src="../assets/img/expression/组 386.png"
          />
        </div>
      </div>
      <!-- <div class="swiper-pagination"></div> -->
    </div>
  </body>
  <script src="../js/Navigate.js"></script>
  <script src="../js/swiper-bundle.min.js"></script>
  <script src="../js/expression.js"></script>
</html>
