<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>历史沿革</title>
    <link rel="stylesheet" href="../assets/css/history.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
  </head>
  <body>
    <div class="overlay"></div>
    <div class="top-bar"></div>
    <div class="bottom-bar"></div>
    <div class="mask"></div>
    <div class="back-umbrella">
      <img src="../assets/img/directory/umbrella.png" />
    </div>
    <div class="logo">
      <img src="../assets/img/historical/logo.png" alt="" />
    </div>
    <div class="slide">
      <img src="../assets/img/historical/slide.png" alt="" />
    </div>
    <div class="line-x-top"></div>
    <div class="line-x-bottom"></div>
    <div class="line-y-left"></div>
    <div class="line-y-right"></div>

    <div class="mask-mid">
      <div class="mask-left-top"></div>
      <div class="mask-left-bottom"></div>
      <div class="mask-right-top"></div>
      <div class="mask-right-bottom"></div>
    </div>
    <div class="mask-story">
      <div class="mask-left"></div>
      <div class="mask-right"></div>
    </div>
    <div class="container">
      <div class="section first">
        <div class="title">
          <img src="../assets/img/historical/evolution.png" />
          <img src="../assets/img/historical/title.png" />
          <img src="../assets/img/historical/historical.png" />
        </div>

        <div class="g-progress-wrap">
          <div class="g-progress"></div>
        </div>
        <img
          class="progress-umbrella"
          src="../assets/img/home/umbrella_2.png"
          alt=""
        />
      </div>
      <div class="section second">
        <p>
          泸州油纸伞起源于明 末清初,据清光绪八年壬 午(1882年)《泸县志~卷
          第三》载:“泸制(桐油)纸伞，颇为有名。崇义分水岭亦多此者，而已分水岭
          所致最佳。近有美美，工作益精巧。"由此可见，至少在清代，分水油纸伞
          已在泸州城乡广泛运用。泸州油纸伞起源于明 末清初,据清光绪八年壬
          午(1882年)《泸县志~卷
          第三》载:“泸制(桐油)纸伞，颇为有名。崇义分水岭亦多此者，而已分水岭
          所致最佳。近有美美，工作益精巧。"由此可见，至少在清代，分水油纸伞
          已在泸州城乡广泛运用。泸州油纸伞起源于明 末清初,据清光绪八年壬
          午(1882年)《泸县志~卷
          第三》载:“泸制(桐油)纸伞，颇为有名。崇义分水岭亦多此者，而已分水岭
          所致最佳。近有美美，工作益精巧。"由此可见，至少在清代，分水油纸伞
          已在泸州城乡广泛运用。泸州油纸伞起源于明 末清初,据清光绪八年壬
          午(1882年)《泸县志~卷
          第三》载:“泸制(桐油)纸伞，颇为有名。崇义分水岭亦多此者，而已分水岭
          所致最佳。近有美美，工作益精巧。"由此可见，至少在清代，分水油纸伞
          已在泸州城乡广泛运用。
        </p>
        <p>
          泸州油纸伞起源于明 末清初,据清光绪八年壬 午(1882年)《泸县志~卷
          第三》载:“泸制(桐油)纸伞，颇为有名。崇义分水岭亦多此者，而已分水岭
          所致最佳。近有美美，工作益精巧。"由此可见，至少在清代，分水油纸伞
          已在泸州城乡广泛运用。泸州油纸伞起源于明 末清初,据清光绪八年壬
          午(1882年)《泸县志~卷
          第三》载:“泸制(桐油)纸伞，颇为有名。崇义分水岭亦多此者，而已分水岭
          所致最佳。近有美美，工作益精巧。"由此可见，至少在清代，分水油纸伞
          已在泸州城乡广泛运用。泸州油纸伞起源于明 末清初,据清光绪八年壬
          午(1882年)《泸县志~卷
          第三》载:“泸制(桐油)纸伞，颇为有名。崇义分水岭亦多此者，而已分水岭
          所致最佳。近有美美，工作益精巧。"由此可见，至少在清代，分水油纸伞
          已在泸州城乡广泛运用。泸州油纸伞起源于明 末清初,据清光绪八年壬
          午(1882年)《泸县志~卷
          第三》载:“泸制(桐油)纸伞，颇为有名。崇义分水岭亦多此者，而已分水岭
          所致最佳。近有美美，工作益精巧。"由此可见，至少在清代，分水油纸伞
          已在泸州城乡广泛运用
        </p>
      </div>
      <div class="section third">
        <div class="title-bottom">
          <img src="../assets/img/historical/stories.png" />
          <img src="../assets/img/historical/title-bottom.png" />
          <img src="../assets/img/historical/legends.png" />
        </div>
        <div class="story-logo">
          <img src="../assets/img/historical/storyBg.png" alt="" />
          <img src="../assets/img/historical/storyBg.png" alt="" />
        </div>
        <div class="story">
          <img src="../assets/img/historical/story1.png" alt="" />
          <img src="../assets/img/historical/story2.png" alt="" />
          <img src="../assets/img/historical/story3.png" alt="" />
          <img src="../assets/img/historical/story4.png" alt="" />
          <img src="../assets/img/historical/story5.png" alt="" />
          <img src="../assets/img/historical/story6.png" alt="" />
          <img src="../assets/img/historical/story7.png" alt="" />
          <img src="../assets/img/historical/story8.png" alt="" />
          <img src="../assets/img/historical/story9.png" alt="" />
          <img src="../assets/img/historical/story10.png" alt="" />
          <img src="../assets/img/historical/story11.png" alt="" />
          <img src="../assets/img/historical/story12.png" alt="" />
          <img src="../assets/img/historical/story13.png" alt="" />
          <img src="../assets/img/historical/story14.png" alt="" />
          <img src="../assets/img/historical/story15.png" alt="" />
          <img src="../assets/img/historical/story16.png" alt="" />
          <img src="../assets/img/historical/story17.png" alt="" />
          <img src="../assets/img/historical/story18.png" alt="" />
          <img src="../assets/img/historical/story19.png" alt="" />
          <img src="../assets/img/historical/story20.png" alt="" />
          <!-- <img src="../assets/img/historical/story21.png" alt="" /> -->
        </div>
      </div>
    </div>
    <script src="../utils/Throttle.js"></script>
    <script src="../js/history.js"></script>
    <script src="../js/Navigate.js"></script>
  </body>
</html>
