<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>历史沿革</title>
    <link rel="stylesheet" href="../assets/css/history.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
  </head>
  <body>
    <div class="overlay"></div>
    <div class="top-bar"></div>
    <div class="bottom-bar"></div>
    <div class="mask"></div>
    <div class="back-umbrella">
      <img src="../assets/img/directory/umbrella.png" />
    </div>
    <div class="logo">
      <img src="../assets/img/historical/logo.png" alt="" />
    </div>
    <div class="slide">
      <img src="../assets/img/historical/slide.png" alt="" />
    </div>
    <div class="line-x-top"></div>
    <div class="line-x-bottom"></div>
    <div class="line-y-left"></div>
    <div class="line-y-right"></div>

    <div class="mask-mid">
      <div class="mask-left-top"></div>
      <div class="mask-left-bottom"></div>
      <div class="mask-right-top"></div>
      <div class="mask-right-bottom"></div>
    </div>
    <div class="mask-story">
      <div class="mask-left"></div>
      <div class="mask-right"></div>
    </div>
    <div class="container">
      <div class="section first">
        <div class="title">
          <img src="../assets/img/historical/evolution.png" />
          <img src="../assets/img/historical/title.png" />
          <img src="../assets/img/historical/historical.png" />
        </div>

        <div class="g-progress-wrap">
          <div class="g-progress"></div>
        </div>
        <img
          class="progress-umbrella"
          src="../assets/img/home/umbrella_2.png"
          alt=""
        />
      </div>
      <div class="section second">
        <p>
          泸州制伞业历史悠久， 始于明末清初，与泸州老 窖齐名。上世纪四、五十
          年代，泸州油纸伞进入鼎 盛期，珠子街被誉为“油纸 伞一条街”。当时，泸州境
          内有百余家油纸伞厂，从 业人员上万，年产纸伞高 达2000万把。然而，上世
          纪70年代后，随着钢架伞 的普及，油纸伞市场逐渐 萎缩。
        </p>
        <p>
          进入21世纪，旅游市场 与新古典主义让泸州油纸伞 重获新生。2008年，其制作
          工艺被列为国家级非遗，备 受瞩目。政府支持下，产业
          复苏，年轻人加入，注入新 活力。除传统大红伞，还融
          合现代审美，运用彩色印刷 技术，提升艺术品质，增加
          文化价值。如今，泸州油纸 伞已成为展示泸州文化的重
          要窗口，迈向新的发展阶段。
        </p>
      </div>
      <div class="section third">
        <div class="title-bottom">
          <img src="../assets/img/historical/stories.png" />
          <img src="../assets/img/historical/title-bottom.png" />
          <img src="../assets/img/historical/legends.png" />
        </div>
        <div class="story-logo">
          <img src="../assets/img/historical/storyBg.png" alt="" />
          <img src="../assets/img/historical/storyBg.png" alt="" />
        </div>
        <div class="story">
          <img src="../assets/img/historical/story1.png" alt="" />
          <img src="../assets/img/historical/story2.png" alt="" />
          <img src="../assets/img/historical/story3.png" alt="" />
          <img src="../assets/img/historical/story4.png" alt="" />
          <img src="../assets/img/historical/story5.png" alt="" />
          <img src="../assets/img/historical/story6.png" alt="" />
          <img src="../assets/img/historical/story7.png" alt="" />
          <img src="../assets/img/historical/story8.png" alt="" />
          <img src="../assets/img/historical/story9.png" alt="" />
          <img src="../assets/img/historical/story10.png" alt="" />
          <img src="../assets/img/historical/story11.png" alt="" />
          <img src="../assets/img/historical/story12.png" alt="" />
          <img src="../assets/img/historical/story13.png" alt="" />
          <img src="../assets/img/historical/story14.png" alt="" />
          <img src="../assets/img/historical/story15.png" alt="" />
          <img src="../assets/img/historical/story16.png" alt="" />
          <img src="../assets/img/historical/story17.png" alt="" />
          <img src="../assets/img/historical/story18.png" alt="" />
          <img src="../assets/img/historical/story19.png" alt="" />
          <img src="../assets/img/historical/story20.png" alt="" />
          <!-- <img src="../assets/img/historical/story21.png" alt="" /> -->
        </div>
      </div>
    </div>
    <script src="../utils/Throttle.js"></script>
    <script src="../js/history.js"></script>
    <script src="../js/Navigate.js"></script>
  </body>
</html>
