<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>油纸伞技艺</title>
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/technique.css" />
    <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css" />
    <style></style>
  </head>
  <body>
    <div>
      <div class="mengban"></div>
      <div class="overlay"></div>
      <div class="top-bar"></div>
      <div class="bottom-bar"></div>
      <div class="mask"></div>
      <div class="logo">
        <img src="../assets/img/technique/logo.png" alt="" />
      </div>
      <div class="slide">
        <img src="../assets/img/historical/slide.png" alt="" />
      </div>
      <div>
        <img class="back" src="../assets/img/technique/umbrella.png" alt="" />
      </div>

      <div class="main1">
        <img class="sun" src="../assets/img/technique/组 253.png" alt="" />
        <img class="word" src="../assets/img/technique/字.2.png" alt="" />
        <img class="mountain" src="../assets/img/technique/组 292.png" alt="" />
        <img class="cloud1" src="../assets/img/technique/组 252.png" alt="" />
        <img class="cloud2" src="../assets/img/technique/组 246.png" alt="" />
        <img class="cloud3" src="../assets/img/technique/组 248.png" alt="" />
        <img class="cloud4" src="../assets/img/technique/组 249.png" alt="" />
        <img class="title" src="../assets/img/technique/技_艺.png" alt="" />
      </div>

      <div>
        <img class="process" src="../assets/img/technique/组 300.png" alt="" />
        <p class="detail">
          泸州油纸伞制作所用原料都为自然生长的竹材和木材，不含任何金属部件，全部工序都是纯手工制作，且制作工艺流程复杂。伞骨制作主要工序
          包括锯筒、刨节、刮青、划墨、削竹、刨槽、解墨、钻孔、穿签等20多个环节；伞的组装工序中需要制伞杆、装跳子、卡批子、卡衬子、穿线、网伞
          等环节；伞面的制作主要工序包括切纸、定版、印、糊伞、抹油等环节。
        </p>
        <video
          controls
          poster="../assets/img/technique/交叉 85.png"
          src="../assets/video/technique.mp4"
        ></video>
        <!-- <img class="play" src="../assets/img/technique/联合 802.png" alt="" /> -->
        <!-- <img class="line" src="../assets/img/technique/联合 795.png" alt="" /> -->
      </div>

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../assets/img/technique/组 309.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/technique/组 310.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/technique/组 311.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/technique/组 312.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/technique/组 313.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/technique/组 314.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/technique/组 315.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/technique/组 316.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/technique/组 317.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="../assets/img/technique/组 318.png" alt="" />
          </div>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>

      <div class="main3">
        <img class="structure" src="../assets/img/technique/组 299.png" />
        <img class="umbrella" src="../assets/img/technique/组 553.png" alt="" />
        <img class="luzhou" src="../assets/img/technique/瀘_州.png" alt="" />
        <img class="long day1" src="../assets/img/technique/组 274.png" />
        <img class="short day1" src="../assets/img/technique/组 284.png" />
        <img class="jump day1" src="../assets/img/technique/组 266.png" />
        <img class="bing day1" src="../assets/img/technique/组 265.png" />
        <img class="drill day1" src="../assets/img/technique/组 264.png" />
      </div>

      <div class="footer">
        <img class="ub" src="../assets/img/technique/ub.png" alt="" />
        <img class="fc1" src="../assets/img/technique/组 351.png" alt="" />
        <img class="fc2" src="../assets/img/technique/组 363.png" alt="" />
        <img class="fc3" src="../assets/img/technique/组 364.png" alt="" />
        <img class="fc4" src="../assets/img/technique/组 352.png" alt="" />
      </div>
    </div>
  </body>
  <script src="../js/swiper-bundle.min.js"></script>
  <script src="../js/Navigate.js"></script>
  <script src="../js/technique.js"></script>
</html>
